

body {
    font-family: "Open Sans";
}

#main {
    margin: 10px 20px;
}

text.label {
    text-anchor: middle;
    font-size: 11px;
    fill: #555;
    font-family: sans-serif;
}

.axis text {
    fill: #555;
}

.axis line,
.axis path {
    stroke: #555;
}

text.title {
    text-anchor: middle;
    font-size: 14px;
    fill: #333;
}

.circle {
    fill: cadetblue;
    opacity: 0.7;
}

.top-rank-circles {
    fill: orange;
    opacity: 0.7;
}

.bottom-rank-circles {
    fill: lightslategray;
    opacity: 0.7;
}

.player-name {
    visibility: hidden;
    font-size: 10px;
    font-weight: bold;
    text-anchor: middle;
}

g:hover .player-name {
    visibility: visible;
}

g:hover circle {
    opacity: 1;
}





